<div class="row row--v-baseline">
    <div class="row__col pad">
        <ul>
            <li>list item</li>
            <li>list item</li>
            <li>
                Parent list item
                <ul>
                    <li>list item</li>
                    <li>list item</li>
                    <li>
                        Parent list item
                        <ul>
                            <li>list item</li>
                            <li>list item</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="row__col pad">
        <ol>
            <li>list item</li>
            <li>list item</li>
            <li>
                Parent list item
                <ol>
                    <li>list item</li>
                    <li>list item</li>
                    <li>
                        Parent list item
                        <ol>
                            <li>list item</li>
                            <li>list item</li>
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>