<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #f4921f;"></span>
    <span class="sg-label">
			$tag-orange <br />
			#f4921f
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #3eb486;"></span>
    <span class="sg-label">
			$tag-green <br />
			#3eb486
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #7065ad;"></span>
    <span class="sg-label">
			$tag-purple <br />
			#7065ad
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #c30d63;"></span>
    <span class="sg-label">
			$random-pink <br />
			#c30d63
		</span>
  </li>
</ul>

<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #5fb7e4;"></span>
    <span class="sg-label">
			$link-color-hover-light <br />
			#5fb7e4
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #081E35;"></span>
    <span class="sg-label">
			$link-color-hover-dark <br />
			#081E35
		</span>
  </li>
</ul>