Atoms are essentially the individual html elements. Most of these are not too useful by themselves, except maybe for user entered content. 

Things to get into this pattern library:

<div class="row">
    <div class="row__col pad">
        <h2>home / global</h2>
        <ul>
            <li>Hero banner</li>
            <li>logo slider</li>
            <li>featured work slider</li>
            <li>featured work slide</li>
            <li>drunk stone henge?</li>
            <li>Newsletter sign up (input combo?)</li>
            <li>big quote</li>
            <li>Static image bg panel</li>
        </ul>
    </div>   
    <div class="row__col pad">
        <h2>/about</h2>
        <ul>
            <li>/our-team</li>
            <li>/alliances-partnerships</li>
            <li>/careers</li>
            <li>/delphic-dna</li>
        </ul>
    </div>   
    <div class="row__col pad">
        <h2>/work</h2>
        <ul>
            <li>hub page</li>
            <li>client hub</li>
            <li>project</li>
            <li>/client-list</li>
        </ul>
    </div>   
    <div class="row__col pad">
        <h2>/services</h2>
        <ul>
            <li class="check-mark-li">textured header</li>
            <li>Grey box thing</li>
            <li>Link grid</li>
            <li>Interested banner</li>
        </ul>
    </div>   
    <div class="row__col pad">
        <h2>/blog</h2>
        <ul>
            <li>post list page</li>
            <li>post detail page</li>
            <li>category list page?</li>
        </ul>
    </div>   
    <div class="row__col pad">
        <h2>/contact</h2>
        <ul>
            <li class="check-mark-li">All the form elements</li>
        </ul>
    </div>    
</div>