.btn {
  border: 1px solid white;
  padding: 5px 15px;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background: #2999d6;
  cursor: pointer; }
  .btn:hover {
    background: black;
    text-decoration: none;
    color: white; }
  .btn--pink {
    background-color: #c30d63; }
  .btn--white {
    background-color: white;
    color: #2999d6;
    box-shadow: inset 0 0 0 1px #2999d6; }
  .btn--transparent {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #2999d6; }
  .btn--small {
    font-size: 11px; }
  .btn--large {
    font-size: 18px;
    padding: 13px 25px; }
