<div class="radio-button">
    <input type="radio" id="radio-example-one" name="radios" checked="checked">
    <label for="radio-example-one">And this is a radio button</label>
</div>

<div class="radio-button">
    <input type="radio" id="radio-example-two" name="radios">
    <label for="radio-example-two">Hmmm</label>
</div>