.row {

    &__col {
        
    }

    &__gutter {
        width: 100%;
        height: 10px;
    }
    
    @include from(2) {
        display: flex;

        &__gutter {
            width: 10px;
        }
    }
}