<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #2999d6;"></span>
    <span class="sg-label">
			$delphic-blue <br />
			#2999d6
		</span>
  </li>
</ul>
<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #00ADEE;"></span>
    <span class="sg-label">
			$cube-blue-top <br />
			#00ADEE
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #00688F;"></span>
    <span class="sg-label">
			$cube-blue-left <br />
			#00688F
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #008ABE;"></span>
    <span class="sg-label">
			$cube-blue-right <br />
			#008ABE
		</span>
  </li>

</ul>