<div class="radio-button">
  <input type="checkbox" id="checkbox-example" checked="checked">
  <label for="checkbox-example">Why do checkboxes look identical to radio buttons? This is a checkbox</label>
</div>