<div class="row">
  <div class="row__col">
    <div class="pad">
      <button class="btn btn--small">Small</button>
      <button class="btn">Default</button>
      <button class="btn btn--large">Large</button>
    </div>
    <div class="pad">
      <button class="btn btn--white">White</button>
      <button class="btn btn--pink">Pink</button>
    </div>
  </div>
  <div class="row__col">
    <div class="pad bg-black">
      <button class="btn">Default</button>
      <button class="btn btn--white">White</button>
      <button class="btn btn--pink">Pink</button>
    </div>
    <div class="pad bg-black">
      <button class="btn btn--orange">Category Tag Orange</button>
      <button class="btn btn--green">Category Tag Green</button>
      <button class="btn btn--purple">Category Tag Purple</button>
    </div>
  </div>
</div>