$delphic-blue: #2999d6;
$cube-blue-top: #00ADEE;
$cube-blue-left: #00688F;
$cube-blue-right: #008ABE;

$tag-orange: #f4921f;
$tag-green: #3eb486;
$tag-purple: #7065ad;
$random-pink: #c30d63;

$link-color: $delphic-blue;
$link-color-hover-light: #5fb7e4;
$link-color-hover-dark: #081E35;
$btn-blue: $delphic-blue;

.bg-black { background-color: black; }