$delphic-blue: #2999d6;

$cube-blue-top: #00ADEE;
$cube-blue-left: #00688F;
$cube-blue-right: #008ABE;

$off-white: #f6f6f6;

$tag-orange: #f4921f;
$tag-green: #3eb486;
$tag-purple: #7065ad;
$random-pink: #c30d63;

$copy: #454A50;

$link-color: $delphic-blue;
$link-color-hover-light: #5fb7e4;
$link-color-hover-dark: #081E35;
$title-blue: #081E35;
$btn-blue: $delphic-blue;

$rule-color: #333333;
$input-bg: $off-white;

.bg-black { background-color: black; } 